:root {
	--accent: #BF616A;
	--accent-alpha-20: #BF616A33;
	--accent-alpha-70: #BF616AB3;
	--background: #201f29; //mix($accent, #1D1E28, 2%);
	--color: whitesmoke;
	--border-color: rgba(255, 255, 255, .1);
	--footnote-color: rgba(255, 255, 255, .5);
}
