:root {
	--accent: #2E8757;
	--accent-alpha-20: #2E875733;
	--accent-alpha-70: #2E8757B3;
	--background: #1D2029; //mix($accent, #1D1E28, 2%);
	--color: whitesmoke;
	--border-color: rgba(255, 255, 255, .1);
	--footnote-color: rgba(255, 255, 255, .5);
}
